Repository Strappazzon/wsb, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, config, customization, documentation

Add CODEOWNERS file
  .github/CODEOWNERS
Labels: none

docs: Add contributing guidelines
  .github/CONTRIBUTING.md
Labels: documentation

docs: Add support policy
  SUPPORT.md
Labels: documentation

config: Add Discussion, Issue and PR templates
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/general.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .vscode/settings.json
Labels: config

config: Add package request template
  .github/ISSUE_TEMPLATE/package-request.yml
Labels: none

.github/labeler.yml:

cicd:
  - ".github/workflows/**"

config:
  - ".github/*.yml"
  - ".vscode/**"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - "*.psd1"
  - "*.wsb"

customization:
  - "theme/**"

documentation:
  - ".github/CONTRIBUTING.md"
  - "**/README.md"
  - "SUPPORT.md"
